<!DOCTYPE html>
<html>
<head>
    <title>Create Trip</title>
</head>
<body>
    <h1>Create a New Trip</h1>
    <form method="post">
        {% csrf_token %}
        <label for="visa_duration">Visa Duration (in days):</label>
        <input type="number" id="visa_duration" name="visa_duration" placeholder="e.g., 30" step="1" min="0">
        <br>
        <label for="visa_price">Visa Price (USD):</label>
        <input type="number" id="visa_price" name="visa_price" placeholder="e.g., 50" step="0.01" min="0">
        <br>
        <button type="submit">Create Trip</button>
    </form>
    h1>Koszty podróży:</h1>

    <h2>Hotele:</h2>
    <ul>
      {% for hotel in hotels %}
        <li>{{ hotel.name }} - {{ hotel.cena }} zł</li>
      {% endfor %}
    </ul>

    <p>Całkowity koszt hoteli: {{ total_hotel_cost }} zł</p>
</body>
</html>
